.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/cvb.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 697px;
  margin: 46px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 182px;
  height: 182px;
  color: rgb(255, 255, 255) !important;
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  font-style: italic;
  width: 739px;
  margin: 164px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 22px 0;
  }
}